@model Location
@{
    ViewData["Title"] = "Blacksmith";
}

<h2 class="center font-moria-citadel location-header">@Model.Name</h2>


<form class="mx-auto w-50 center" method="post" asp-area="Game" asp-action="Buy">
    <div class="items-wrap" multiple>
        @foreach (var i in @Model.Inventory.InventoryItems)
        {
            
            <div class="item-container">
                <partial for="@i.Item" name="_ItemPartial" />
                <input type="radio" name="itemId" value="@i.Item.Id" />
            </div>


        }
    </div>

    <button type="submit">Buy</button>

</form>

@section Scripts
{
    @if (this.TempData.ContainsKey(ExceptionMessages.ViewDataErrorKey))
    {
        <script src="~/js/alertExceptions.js" id="error" data-bind="@this.TempData[ExceptionMessages.ViewDataErrorKey].ToString()"></script>
        this.TempData.Clear();
    }

}


