@model CharacterViewModel
@{
    ViewData["Title"] = "Dorm";
}

<div class="row">
    <div class="col-md-4">
        <div class="username center font-moria-citadel">@User.Identity.Name</div>
        <div class="avatar-wrap mx-auto">
            <div id="stats" data-id="@Model.Stats.Id" class="avatar"></div>
            <div class="avatar-description-layer">
                <div class="avatar-description">
                    <div id="statsInfo">

                    </div>
                </div>
            </div>
        </div>

        <partial name="_EquippedItemsPartial" for="@Model.Inventory.InventoryItems" />

    </div>
    <div class="col-md-8 center">
        <h1 class="center font-moria-citadel inventory-header">Inventory</h1>
        <form method="post">
            <select class="inventory" multiple id="item">
                @foreach (var i in Model.Inventory.InventoryItems.Where(x => !x.IsEquipped))
                {
                    <option data-toggle="popover" id="@i.Item.Id" data-id="@i.Item" data-trigger="hover" data-content class="font-moria-citadel option-item center">@i.Item.Name</option>
                }
            </select>
            <div>
                <input type="submit" id="equip" value="Equip" class="inventory-btn font-moria-citadel">
                <input type="submit" id="remove" value="Remove" class="inventory-btn font-moria-citadel">
            </div>
        </form>

        <div class="capacity font-moria-citadel" id="capacity">
            @Model.Inventory.InventoryItems.Where(x => !x.IsEquipped).Count()/@Model.Inventory.Capacity Capacity
        </div>
        <div class="coins font-moria-citadel">
            @Model.Coins Coins
        </div>


    </div>

</div>

@section Scripts
    {
    <script src="~/js/showStatsInfo.js"></script>
    <script src="~/js/showItemInfo.js"></script>
    <script src="~/js/equip.js"></script>
    <script src="~/js/unequip.js"></script>
    <script src="~/js/removeItem.js"></script>

}
