@model Player
@{
    ViewData["Title"] = "Dorm";
}


<div class="row">
    <div class="col-md-4">
        <div class="username center font-moria-citadel">@User.Identity.Name</div>
        <div class="avatar-wrap mx-auto">
            <div id="stats" data-id="@Model.Character.StatsId" class="avatar"></div>
            <div class="avatar-description-layer">
                <div class="avatar-description">
                    <div id="statsInfo">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Weapon</p>
            </div>
            <div class="col-md-3">
                <p>Armour</p>
            </div>
            <div class="col-md-3">
                <p>Relic</p>
            </div>
        </div>

    </div>
    <div class="col-md-8 center">
        <h1 class="center font-moria-citadel inventory-header">Inventory</h1>
        <select class="inventory" multiple>
            @foreach (var i in Model.Character.Inventory.InventoryItems)
            {
                <option id="item" data-id="@i.Item" data-trigger="hover" data-content class="font-moria-citadel option-item center">@i.Item.Name</option>
            }
        </select>
        <div class="row">
            <div class="col-md-7 coins font-moria-citadel">
                @Model.Character.Coins Coins
            </div>
            <div class="col-md-5 capacity font-moria-citadel">
                @Model.Character.Inventory.InventoryItems.Count/@Model.Character.Inventory.Capacity Capacity
            </div>
        </div>
    </div>

</div>

@section Scripts
    {
    <script src="~/js/showStatsInfo.js"></script>
    <script src="~/js/showItemInfo.js"></script>
}
